.principal{
    background: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    background-image: url(file:///C:/Users/Dell/AppData/Local/Temp/Rar$DIa0.571/bg-pattern-top.svg);
    
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card{
    background-color: white;
    margin: 50px 80px 50px 80px;
    position: relative;
    border-radius: 15px;
}

.card-head{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.imagen-head{
    width:100px;
    height:100px;
    border-radius: 150px;
    position: absolute;
    top: 90px;
    left: 120px;
    border: 6px solid white;   
}

.nombre-card{
    text-align: center;
    padding-top: 80px;
    font-size: 18px;
}

span{
    color: hsl(0, 0%, 59%);
}

.pais{
    text-align: center;
    color: hsl(0, 0%, 59%);
}

.footer{
    display: flex;
    /* margin: 20px 20px 20px 20px; */
    justify-content: space-between;
    padding: 0 3rem;
}

.footer div {
    text-align: center;
}

h2{
    font-size: 18px;
}

.descriptiva{
    color: hsl(0, 0%, 59%);
}



